

body{
    margin: 0;
    background-color: rgb(231, 231, 231);
}

.grid_container{
    display: flex;
    align-items: center;
}

#grid_section{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(175, 175, 175); */
    background-color: black;
    margin: auto 20;
    align-items: center;
}


.grid_cell{
    margin:4px 0 0 4px;
    background-color: white;
    border: 2px rgb(200, 200, 200) solid;
    /* border: 2px solid white; */
    box-shadow: inset 2px white;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 42px;
}

.grid_line{
    display: flex;
}

.grid_cell_modifier_right{
    margin-right: 4px;
}

.grid_cell_modifier_down{
    margin-bottom: 4px;
}

.clear_cell{
    /* margin: 4px 0 0 4px; */
    background-color: white;
    border: 1px white solid;
    height: 66px;
    width: 66px;
    text-align: center;
    font-size: 42px;
}

.clear_cell_modifier_width{
    width: 70px;
}

.clear_cell_modifier_height{
    height: 70px;
}